
.rowfirst{
}
.colfirst {
}
#pic{
   width:100%;background-repeat: no-repeat;height:77vh;margin:2.5% 0% 2.5% 2.5%;
}
.register{
  text-decoration:none; text-transform: uppercase;color:red; font-style: italic;
}
.login{
  background-color: rgb(255, 255, 255, 0.8);
  width:410px;
  padding: 30px 30px 30px 30px;
  position: relative;
  top:20%;
  left:10%;
}
a:hover {
    background-color: yellow;
}
